* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Source files
*.ts text
*.js text
*.json text
*.md text
*.yml text
*.yaml text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf

# Documentation
*.txt text
docs/* text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
